.nav-collapse.collapse {
    display: inline;
}

ul.sidemenu , ul.sidemenu li ul.menu-item{
    margin: -2px 0 0;
    padding: 0;
}

ul.sidemenu {
    margin-top: 75px;
}

.sidemenu > ul > li > ul.menu-item {
    display: none;
}

#sidebar > ul > li.active > ul.menu-item, #sidebar > ul > li > ul.menu-item > li > a {
    display: block;
}

ul.sidemenu li ul.menu-item li{
    background: #424a5d;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidemenu li ul.menu-item li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidemenu li ul.menu-item li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #aeb2b7;
}

ul.sidemenu li ul.menu-item li a:hover {
	color: white;
	background: transparent;
}

ul.sidemenu li ul.menu-item li.active a {
    color: #68dff0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidemenu li{
    /*line-height: 20px !important;*/
    margin-bottom: 5px;
    margin-left:10px;
    margin-right:10px;
}

ul.sidemenu li.menu{
    line-height: 15px;
}

ul.sidemenu li a span{
    display: inline-block;
}

ul.sidemenu li a{
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidemenu li a.active, ul.sidemenu li a:hover, ul.sidemenu li a:focus {
    background: #68dff0;
    color: #fff;
    display: block;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


ul.sidemenu li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul.sidemenu li a:hover i, ul.sidemenu li a:focus i {
    color: #fff;
}

ul.sidemenu li a.active i {
    color: #fff;
}