.wizard-container {
	padding-top: 100px;
	z-index: 3;
}

.wizard-card {
	background-color: #FFFFFF;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 10px 0;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}

.wizard-card>.nav-pills>li+li {
	margin-left: 0;
}

.wizard-card>.nav-pills>li>a {
	border: 1px solid #2CA8FF;
	border-radius: 0;
	color: #2CA8FF;
	margin-left: -1px;
}

.wizard-card>.nav-pills>li:first-child>a {
	border-radius: 4px 0 0 4px;
	margin: 0;
}

.wizard-card>.nav-pills>li:last-child>a {
	border-radius: 0 4px 4px 0;
}

.wizard-card .picture-container {
	position: relative;
	cursor: pointer;
	text-align: center;
}

.wizard-card .picture {
	width: 106px;
	height: 106px;
	background-color: #999999;
	border: 4px solid #CCCCCC;
	color: #FFFFFF;
	border-radius: 50%;
	margin: 5px auto;
	overflow: hidden;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}

.wizard-card .tab-content {
	padding: 20px 10px;
}

.wizard-card .wizard-footer {
	padding: 0 10px;
}

.wizard-card .disabled {
	display: none;
}

.wizard-card .wizard-header h3 {
	font-weight: 200;
	text-align: center;
}

.wizard-card>ul>li {
	text-align: center;
}

.wizard-card>ul>li a {
	border: 0 !important;
	text-transform: uppercase;
	background-color: #999999;
	color: #FFFFFF !important;
	font-size: 12px;
}

.wizard-card>ul>li>a:hover, .wizard-card>ul>li>a:focus {
	background-color: #999999;
	cursor: default;
}

.wizard-card .btn {
	text-transform: uppercase;
}

.wizard-card .nav-pills>li:first-child>a {
	border-radius: 0;
	margin: 0;
}

.wizard-card .nav-pills>li:last-child>a {
	border-radius: 0;
}

.wizard-card > ul > li.active > a:hover, .wizard-card > ul > li.active > a:focus{
	background-color: inherit;
}